@import url('https://fonts.googleapis.com/css?family=Lato|Padauk')
font-family: 'Lato', sans-serif;
font-family: 'Padauk', sans-serif;


p {
     color: red;
}

p {
     color: (255,0,0);
}

p {
     color: #FF0000;
}
h1 {
     font-family: Arial, sans-serif;
}
h3 {
     font-size: 24px;
}